@import "reset";


$fontSize: 37.5;
@function px2rem($px) {
  @return ($px / $fontSize) + rem;
}


@mixin center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon{
  color: #333;
  font-size: px2rem(20);
}
